<h2>Add a review</h2>

<form action="" method="POST">
     <div class="add">
        Course Number: <input type="text" name="courseNumber">
        Course Name: <input type="text" name="courseName">
        Semester: <input type="text" name="semester">
        Year: <input type="number" name="year">
        Professor: <input type="text" name="professor">
        Review: <input type="text" name="review">
        <input type="submit" value="Submit">
    </div>
</form>
